---
import SectionTitle from "./partial/SectionTitle.astro";
---

<section class="BusinessSection">
    <SectionTitle title="业务一览" englishTitle="Our Serivces">
        WMJTYD 有众多业务，满足您公司的各项需求。
    </SectionTitle>
</section>
