---
import Layout from '../layouts/Layout.astro';

import Announce from '@components/Announce.astro';
import Navbar from '@components/Navbar.astro';
import HeadingSection from "@components/landing/HeadingSection.astro";
import BusinessSection from '@components/landing/BusinessSection.astro';
---

<Layout title="精通有道">
	<header>
		<Announce category="公司遠景" href="/blog/wmjtyd-roadmap-march-2022-to-june-2022">
			Wmjtyd Roadmap — March 2022 to June 2022
		</Announce>
		<Navbar />
	</header>
	<main>
		<HeadingSection />
		<BusinessSection />
	</main>
</Layout>
