$baseColor: #237FFA;
$greenBaseColor: #14CA64;
$redBaseColor: #FE3D71;
$grayColor: #6F778D;
$wightColor: #fff;
$blackColor: #000;

$gray2: #2a2a2c;

$primary: #237FFA;
$primaryContent: #227df6;
$secondary: #14CA64;
$accent: #FE3D71;
$neutral: #09090b;
$base100: #09090b;
$base200: #121214;
$info: #237FFA;
$success: #14CA64;
$warning: #DA7B07;
$error: #FE3D71;

$rgbaWight25: rgba(255, 255, 255, 0.25);
$rgbaWight45: rgba(255, 255, 255, 0.45);
$rgbaWight60: rgba(255, 255, 255, 0.60);
$rgbaWight85: rgba(255, 255, 255, 0.85);
$rgbaWight100: rgba(255, 255,  255, 1);

